*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 320px;
  height: 497px;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
}
.card__image {
  border-radius: 10px;
}
.card__title {
  color: #1f314f;
  text-align: center;
  font-size: 22;
  font-weight: 700;
}
.card__text {
  text-align: center;
  color: #7d889e;
  font-size: 15;
  letter-spacing: 0.19;
}
